@model IEnumerable<GameCriticApp.Models.Game>

@{
    ViewBag.Title = "Game Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>

<a>
    @Html.ActionLink("New Game", "Create")
</a>

@foreach (var item in Model)
{

    <div>
        @Html.LabelFor(modelItem => item.Name)
        @Html.ValueFor(modelItem => item.Name)
    </div>
    <div>
        @Html.LabelFor(modelItem => item.Description)
        @Html.ValueFor(modelItem => item.Description)
    </div>
    <div>
        @Html.ActionLink("Details", "Details", new { Id = item.Id})
    </div>
}

